<div (click)="saveStudentInCourse(X._id)">
    <div class="post-thumb">
        <a>
            <img src="assets/images/news/post-thumb-hr-three.jpg" alt="post-image" class="img-fluid">
        </a>
    </div>
    <div class="post-content">
        <div class="date">
            <h4 style="color: black;">{{X.name}}<span></span></h4>
        </div>
        <div class="post-title">
            <h2><a href="news-single.html">{{X.duration}}</a></h2>
        </div>
        <div class="post-meta">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <i class="fa fa-user-o"></i>
                    <a href="#">Mr/Mrrs {{X.teacherName}}</a>
                </li>
                <!-- <li class="list-inline-item">
                    <i class="fa fa-heart-o"></i>
                    <a href="#">350</a>
                </li>
                <li class="list-inline-item">
                    <i class="fa fa-comments-o"></i>
                    <a href="#">30</a>
                </li> -->
            </ul>
        </div>
    </div>
</div>

