<section class="page-title bg-title ">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="title">
                    <h3>Dashboard Teacher</h3>
                </div>
                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard Teacher</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section schedule">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="schedule-tab">
                    <ul class="nav nav-pills text-center">
                     
                        <li class="nav-item">
                            <a class="nav-link" href="#nov21" data-toggle="pill">
                              My  Courses 
                            </a>
                        </li>
                        
                    </ul>
                </div>
                <div class="schedule-contents bg-schedule">
                    <div class="tab-content" id="pills-tabContent">
                        
                        <div class="tab-pane fade schedule-item" id="nov21">
                            <app-courses-table></app-courses-table>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>