<section class="cta-ticket bg-ticket overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<!-- Get ticket info -->
				<div class="content-block">
					<h2>Signup to see your child's results <span class="alternate">Now!</span></h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmtempor incidi</p>
					<a (click)="goToSignupParent()"  class="btn btn-main-md">Signup</a>
				</div>
			</div>
		</div>
	</div>
	<div class="image-block"></div>
</section>