<div class="pricing-item">
    <div class="pricing-heading">
        <!-- Title -->
        <div class="title text-center">
            <h4>{{C.firstName}}</h4>
        </div>
        <!-- Price -->
        <div class="price text-center">
            <h4>{{C.lastName}}</h4>
        </div>
    </div>
    <div class="pricing-body text-center">
        <!-- Feature List -->
         <span class="alternate " style="font-size: larger;" >{{C.specialty}}</span>

    </div>
    <div class="pricing-footer text-center">
        <a class="btn btn-transparent-md" (click)=" goToDisplay(C._id)">About this teacher</a>
    </div>
</div>