<h3 class="text-center" style="margin-top: 140px;color:rgb(49, 49, 86); 
font-family: 'Laila', sans-serif;" >Who are you ?</h3>
<div class="container" style="margin-bottom: 100px;">
<img src="assets/images/admin.png" style="width: 250px; height: 250px;" (click)="goToSignupAdmin()">
<img src="assets/images/student.png" style="width: 250px; height: 250px;" (click)="goToSignupStudent()">
<img src="assets/images/parent.png" style="width: 250px; height: 250px;" (click)="goToSignupParent()">
<img src="assets/images/teacher.png" style="width: 250px; height: 250px;" (click)="goToSignupTeacher()">
</div>