<section class="page-title bg-title ">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>Course Details</h3>
				</div>
				<ol class="breadcrumb p-0 m-0">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item active">Course Details</li>
				</ol>
			</div>
		</div>
	</div>
</section>





<section class="news section">
	<div class="container">
		<div class="row mt-30">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="block">
					<!-- Article -->
					<article class="blog-post single">
						<div class="post-thumb">
							<img src="assets/images/news/single-post1.jpg" alt="post-image" class="img-fluid">
						</div>
						<div class="post-content">
							<div class="date">
								<h4>20<span>May</span></h4>
							</div>
							<div class="post-title">
								<h3>{{course.name}}</h3>
							</div>
							<div class="post-meta">
								<ul class="list-inline">
									<li class="list-inline-item">
										<i class="fa fa-user-o"></i>
										<a href="#">Mr/Mrs {{course.teacherName}}</a>
									</li>
									<li class="list-inline-item">
										<i class="fa fa-heart-o"></i>
										<a href="#">350</a>
									</li>
									<li class="list-inline-item">
										<i class="fa fa-comments-o"></i>
										<a href="#">30</a>
									</li>
								</ul>
							</div>
							<div class="post-details">
								<p>
									{{course.duration}} </p>


								<div class="quotes">
									<blockquote> {{course.description}}</blockquote>
								</div>

								<div class="share-block">
									<div class="tag">
										<p>
											Tags:
										</p>
										<ul class="list-inline">
											<li class="list-inline-item">
												<a href="#">Event,</a>
											</li>
											<li class="list-inline-item">
												<a href="#">Conference,</a>
											</li>
											<li class="list-inline-item">
												<a href="#">Business</a>
											</li>
										</ul>
									</div>
									<div class="share">
										<p>
											Share:
										</p>
										<ul class="social-links-share list-inline">
											<li class="list-inline-item">
												<a href="#"><i class="fa fa-facebook"></i></a>
											</li>
											<li class="list-inline-item">
												<a href="#"><i class="fa fa-twitter"></i></a>
											</li>
											<li class="list-inline-item">
												<a href="#"><i class="fa fa-instagram"></i></a>
											</li>
											<li class="list-inline-item">
												<a href="#"><i class="fa fa-rss"></i></a>
											</li>
											<li class="list-inline-item">
												<a href="#"><i class="fa fa-vimeo"></i></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</article>
					<!-- Comment Section -->

				</div>
			</div>
			<div class="col-lg-4 col-md-10 mx-auto">
				<div class="sidebar">
					<!-- Search Widget -->
					<div class="widget search p-0">
						<div class="input-group">
							<input type="text" class="form-control main m-0" id="expire" placeholder="Search...">
							<span class="input-group-addon"><i class="fa fa-search"></i></span>
						</div>
					</div>
					<!-- Category Widget -->
					<div class="widget category">
						<!-- Widget Header -->
						<h5 class="widget-header">Categories</h5>
						<ul class="category-list m-0 p-0">
							<li><a href="">Strategy Planning <span class="float-right">(6)</span></a></li>
							<li><a href="">Corporate Identity <span class="float-right">(9)</span></a></li>
							<li><a href="">Brand Creation<span class="float-right">(3)</span></a></li>
							<li><a href="">Entertainment<span class="float-right">(5)</span></a></li>
							<li><a href="">Conference<span class="float-right">(7)</span></a></li>
						</ul>
					</div>
					<!-- Latest post -->
					<div class="widget latest-post">
						<h5 class="widget-header">Latest Post</h5>
						<!-- Post -->
						<div class="media">
							<img src="assets/images/news/post-thumb-sm-one.jpg" class="img-fluid" alt="post-thumb">
							<div class="media-body">
								<h6><a href="">Nam hendrerit eros in ligula suscipit suscipit</a></h6>
								<p href="#"><span class="fa fa-calendar"></span>02 Feb, 2017</p>
							</div>
						</div>

						<!-- Post -->
						<div class="media">
							<img src="assets/images/news/post-thumb-sm-four.jpg" class="img-fluid" alt="post-thumb">
							<div class="media-body">
								<h6><a href="">Nam hendrerit eros in ligula suscipit suscipit</a></h6>
								<p href="#"><span class="fa fa-calendar"></span>02 Feb, 2017</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>




<section class="section schedule" style="margin-top:  -250px; ;">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>Affected<span class="alternate">Students</span></h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">

				<div class="schedule-contents bg-schedule">
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active schedule-item" id="nov20">
							<!-- Headings -->
							<ul class="m-0 p-0">
								<li class="headings">
									<div class="time">First Name</div>
									<div class="speaker">Last Name</div>
									<div class="subject">Email</div>
									<div class="venue">ACtion</div>
								</li>
								<!-- Schedule Details -->
								<div>
									<li *ngFor="let student of students" class="schedule-details">
										<div class="block">
											<!-- time -->
											<div class="time">
												<img src={{student.img}} style="max-width: 50px;"
													alt="speaker-thumb-one">
												<span class="time">{{student.firstName}}</span>
											</div>
											<!-- Speaker -->
											<div class="speaker">

												<span class="name">{{student.lastName}}</span>
											</div>

											<!-- Subject -->
											<div class="subject">{{student.email}}</div>
											<!-- Venue -->
											<div *ngIf="connectedUser?.role=='teacher'" class="venue"> 
												<i  class="material-icons" (click)="evaluate(student._id)" 
												style="color: rgba(255, 191, 0, 0.868);">rate_review</i> Evaluate

											</div>
										</div>
									</li>
								</div>

							</ul>
						</div>


					</div>
				</div>

			</div>
		</div>
	</div>
</section>